
.starter-template {
  padding: 1.5rem;
  //text-align: center;
}

.navbar-brand__img {
  width: 50px;
}

/* Hide all makeClaimForm tabs by default: */
.form__tab {
  display: none;
}

.form__signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

  .form__signin-img{
    margin: 0 6em;
  }
}