/*-------------------
    Aquilee Brand Colors
--------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Roboto:300,400');

$primaryColor        : #EFFF00;
$secondaryColor      : #151A2F;
$tertiaryColor       : #D9E5D6;
$whiteColor          : #ffffff;
$blackColor          : #000000;
$offWhiteColor       : #f2f2f2;

$font-primary: 'Montserrat', Arial, serif;
$font-secondary: 'Roboto', Arial, sans-serif;